NEXT_PUBLIC_INFURA_KEY=
NEXT_PUBLIC_MNEMONIC="<wallet secret phrase>"
NEXT_PUBLIC_OWNER_ADDRESS=nft owner wallet address
NEXT_PUBLIC_NFT_CONTRACT_ADDRESS=nft contract address
NEXT_PUBLIC_NFT_ID=nft id number
NEXT_PUBLIC_NETWORK="network- testnet or a mainnet (enter network name)"
NEXT_PUBLIC_PROV_URL='rpc url'
